@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
 }

 @keyframes fade-in-bottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
 }


 @keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
 }

 @keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}
 
.invitation {
  height: 100vh;
  width: 100%;
  font-family: 'Pretendard Variable';

  .Toastify {
    .Toastify__toast-body {
      font-family: 'Pretendard Variable';
    }
  }

  .loading {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #efecf3;
    color: #766097;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    animation: fade-out 0.5s ease-out 1.5s both;
    
    @media screen and (min-width: 768px) {
      font-size: 24px;
    }

    .loading-content {
      animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;    
    }

    .decoration {
      font-family: "a Auto Signature";
      opacity: 0.5;
      margin-bottom: 10px;
    }
  }

  .header {
    width: 100%;
    height: 45px;
    padding: 0 20px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 12px;
    font-family: 'Memogram';
    letter-spacing: 2px;

    position: fixed;
    top: 0;
    background: rgba(250,247,255,0.9);
    z-index: 2;
    color: #907D9E;

    .buttons {
      display: flex;
      align-items: center;

      img {
        cursor: pointer;
        height: 19px;
      }

      >div {
        display: flex;
      }

      img + div {
        margin-left: 15px;
      }
    }
  }

 >.content {
    padding-top: 40px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;


    >div {
      width: 100%;
      padding: 50px 0;

      >.title {
        font-size: 16px;
        text-align: center;
        color: #aaa;
        letter-spacing: 2px;
        margin-bottom: 30px;
        font-family: 'Memogram';
      }
    }

    .main {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: #FAF7FF; 
      padding: 0;

      img {
        margin: 20px 20px 0 20px;
        max-width: 510px;
        width: 90%;

      }

      .img-decoration {
        position: absolute;
        width: calc(100% - 40px);
        color: #8e75b8;
        top: 50px;
        margin: 20px;

        font-size: 35px;
        text-align: center;
        box-sizing: border-box;
        font-family:  'a Auto Signature';
      }

      .info-area {
        width: 100%;
        text-align: center;

        .name {
          display: flex;
          justify-content: center;
          padding: 30px 20px;
          font-weight: 600;
          
          > div {
            font-size: 20px;
            text-align:center;
            margin: 0 30px;

            p {
              font-size: 14px;
              color: #999;
              margin: 0;
              margin-top: 5px;
            }
          }

          
        }

        .info {
          width: 100%;
          font-size: 13px;
          border-top: 1px solid #ddd;
          padding: 30px;
          box-sizing: border-box;

          div + div {
            margin-top: 5px;
          }
        }
      }
    }

    .invite {
      text-align: center;
      transition: all 1s;
      opacity: 0;

      img {
        width: 50px;
      }

      .text {
        font-family: 'RIDIBatang';
        color: #333;

        @media screen and (min-width: 1024px) {
          font-size: 20px;
        }
      }

       &.active {
          animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
    }

    .name-wrapper {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding: 20px 0;

      display: flex;
      flex-direction: column;
      align-items: center;

      .name {
        height: 40px;
        display: flex;
        align-items: center;

        .sub {
          width: 50px;
          text-align: center;
        }

        img {
          width: 20px;
          margin-right: 5px;
        }

        span {
          font-size: 18px;
          font-weight:600;
          font-family: 'RIDIBatang';
        }
      }
    }

    .interview-button-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;


      .interview-button {
        background: #FCFAFF;
        border: 1px solid #EDE9F5;
        border-radius: 5px;
        cursor: pointer;

        width: 250px;
        height: 40px;

        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
      }
    }

    .calendar {
      background: #F9F7FD;

      .date {
        font-size: 18px;
        text-align: center;
        font-family: 'Memogram';
        line-height: 25px;
      }

      .month {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .month-subtext {
          position: absolute;
          font-family: "bacana";
          color: #d2c6e3;
        }

        .month-text {
          font-size: 34px;
          color: #766097;
          z-index: 2;
          font-weight: 700;
        }
      }

      .calendar-wrapper {
        width: 250px;
        height: 200px;
        margin: 30px auto;
        font-family: 'RIDIBatang';
        opacity: 0;

        @media screen and (min-width: 320px) {
          width: 280px;
          height: 230px;
        }

        @media screen and (min-width: 768px) {
          width: 400px;
          height: 300px;
        }

        .dayname {
          display: flex;

          >div {
            width: calc(100% / 7);
            font-size: 15px;
            height: 20px;
            text-align: center;
            color: #D2C9E3;

            @media screen and (min-width: 768px) {
              font-size: 17px;
            }
          };
        }

        .grid {
          height: calc(100% - 20px);

          .week {
            display: flex;
            height: 20%;

            .day {
              width: calc(100% / 7);
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;

              font-size: 13px;

              @media screen and (min-width: 768px) {
                font-size: 15px;
              }

              &.wedding {
                background: #D2C9E3;
                border-radius: 50%;
              }
            }
          }
        }

        &.active {
          animation: fade-in-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }
      }

      .date-text {
        margin: 0 auto;
        text-align: center;
        color: #d2c6e3;
        font-family: 'RIDIBatang';
      }
    
    }

    .dday {
      background: #2E2C32;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 30px;
      font-size: 13px;
      box-sizing: border-box;
      
      >div {
        span {
          font-weight: 600;
        }
      }

      .count {
        margin-top: 10px;
        font-size: 24px;
        font-family: 'Memogram';

      }
    }

    .map {
      background: #fbfbfb;

      >div {
        max-width: 550px;
        margin: 0 auto;
      }

      .map-element {
        max-width: none;
      }

      .location-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 30px auto;

          .location {
              font-size: 20px;
              font-weight: 600;
          }

          .address, .tel {
            font-size: 14px;
            margin-top: 10px;

            span {
              color: #999;
              margin-right: 10px;
            }
          }

          
      }

      .app-list {
        display: flex;
        align-items: center;
        justify-content: space-between;

          .app {
            font-size: 14px;
            width: 100px;
            height: 50px;

            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            img {
              width: 24px;
              margin-right: 10px;
            }
          }
      }

      .location-info {
        padding: 0 30px;

          .info-item {
              padding: 30px 0;
              font-size: 14px;

              .label {
                font-weight: 600;
                font-size: 16px;
                margin-bottom: 10px;
              }

              .contact {
                margin-right: 10px;
                color: #666;
              }

              .seven {
                color: #747F00;
              }

              .nine {
                color: #BDB092;
              }

              div + div {
                margin-top: 10px;
              }

              .blue {
                color: #264DB4;
                margin-left: 5px;
              }

              .green {
                color: #4DAA20;
                margin-left: 5px;

              }
            
          }

          .info-item + .info-item {
            border-top: 1px solid #D4C9EA;
          }
      }
    }

    .account {
      max-width: 550px;

      .account-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;

        .account-item {
          width:80%;

          .account-title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            height: 50px;
            font-size: 15px;
            font-weight: 600;
            padding: 0 20px;
            box-sizing: border-box;
            cursor: pointer;

            img {
              transition: all 0.5s;
            }
          }

          .account-content {
            .account-content-item {
              overflow: hidden;
              box-sizing: border-box;
              height: 0;
              display: flex;
              justify-content: space-between;
              flex-direction: column;

              >div {
                height: 100%;
                display: flex;
                justify-content: space-between;
              }

              .top {
                display: flex;
                align-items: center;

                .name {
                  font-size: 12px;

                  span {
                    margin-left: 5px;
                    font-size: 15px;
                    font-weight: 500;
                  }
                }

                .account-num {
                  font-size: 13px;
                  span {
                    margin-right: 8px;
                    font-weight: 500;
                  }
                }
                
              }

              .bottom {
                >div {
                  width: 140px;
                  height: 34px;
                  border-radius: 5px;

                  display: flex;
                  align-items: center;
                  justify-content: center;

                  font-size: 13px;
                }

                .kakao {
                  background: #fae14b;

                  img {
                    width: 32px;
                    margin-right: 5px;
                    margin-top: 2.5px;
                  }
                }

                .copy {
                  background: #fff;
                  margin-left: 20px;
                }
              }
            }

            &.groom {
              background: #F0F1F3;

            }

            &.bride {
              background: #F2F0F0;
            }
          }

          &.open {

            .account-title {
              img {
                transform: rotate( 180deg );
                transition: all 0.5s;
              }
            }

            .account-content {
              .account-content-item {
                height: 115px;
                padding: 0 20px;
                border-top: 1px dashed #ccc;
              }
            }
          }

          &.groom {
            border: 1px solid #e2e4ea;

            .account-title {
              background: #edeef1;
              color: #262f3c;
            }
          }

          &.bride {
            border: 1px solid #ede9ea;
          
            .account-title {
              background: #f7f3f4;
              color: #734050;
            }
          }

        }

        .account-item + .account-item {
            margin-top: 20px;
        }
      }
    }

    .information {
      max-width: 800px;

      .tabs {
        display: flex;
        border-bottom: 1px solid #ddd;
        padding: 0 30px;

        .tab {
          width: calc(100% / 3);
          height: 16px;
          padding-bottom: 10px;
          font-weight: 500;
          font-size: 14px;
          text-align: center;
          cursor: pointer;

          &.active {
            color: #907D9E;
            border-bottom: 3px solid #907D9E;
          }
        }
      }

      .contents {
        display: flex;
        width: 100%;

        .slick-slider {
          width: 100%;
          overflow: hidden;

          .slick-track {
            display: flex;
          }
        }

        .information-content {
          width: 100%;
          padding: 20px 30px;
          box-sizing: border-box;

          .information-title {
            font-size: 18px;
            margin: 15px 0;
  
            span {
              font-family: 'Memogram';
              margin-right: 10px;
              font-size: 20px;
              font-weight: 600;
            }
          }
  
          img {
            width: 100%;
            height: 160px;
            object-fit: cover;
          }
  
          .content-description {
            font-size: 15px;
            line-height: 25px;
          }
        }
      
      }
    }

    .rsvp {
      background: #FBF9FE;

      .rsvp-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        >img {
          width: 50px;
          margin: 10px 0;
        }

        .description {
          text-align: center;
          font-family: 'RIDIBatang';

          @media screen and (min-width: 1024px) {
            font-size: 20px;
          }
        }

        .button {
          background: #766097;
          color: #fff;
          border: none;
          border-radius: 5px;
  
          width: 250px;
          height: 40px;
          margin-top: 30px;
  
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          cursor: pointer;
          outline: none;
          font-family: 'Pretendard Variable';
        }
      }
    }

    .gallery {  
      .gallery-grid {
        display: grid;
        grid-template-columns: repeat(2, 120px);
        column-gap: 10px;
        row-gap: 10px;
        justify-content: center;

        @media screen and (min-width: 320px) {
          grid-template-columns: repeat(2, 160px);
        }

        @media screen and (min-width: 768px) {
          grid-template-columns: repeat(3, 200px);
        }

        @media screen and (min-width: 1024px) {
          grid-template-columns: repeat(3, 250px);
        }


        >div {
          width: 100%;
          cursor: pointer;

          img {
            width: 100%;
            object-fit: cover;
            height: 267px;
            object-position: top;

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }

    .guestbook {
      background-color: #faf7ff;
      background-image: url("https://www.transparenttextures.com/patterns/groovepaper.png");

      .guestbook-list {
        max-width: 550px;
        box-sizing: border-box;
        margin: auto;
        padding: 0 20px;

        .guestbook-item {
          background: #fff;
          border: 1px solid #eee;
          border-radius: 4px;
          padding: 15px;

          .item-top {
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            position: relative;

            .name {
              font-weight: bolder;
            }

            .date {
              font-size: 13px;
              color: #666;
              margin-right: 20px;
            }

            .delete-icon {
              position: absolute;
              right: 0;
              top: -3px;
              cursor: pointer;

              img {
                width: 10px;
              }
            }
          }

          .item-content {
            font-size: 14px;
          }
        }

        .guestbook-item + .guestbook-item {
          margin-top: 10px;
        }
      }

      .guestbook-add {
          background: #766097;
          color: #fff;
          border: none;
          border-radius: 5px;
  
          width: 250px;
          height: 40px;
          margin: 30px auto 0;
  
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          cursor: pointer;
          outline: none;
          font-family: 'Pretendard Variable';
        }
    }

    .share {
      display: flex;
      flex-direction: column;
      align-items: center;

      >div {
        height: 50px;
        display: flex;
        align-items: center;
        font-size: 16px;
        cursor: pointer;

        img {
          margin-right: 10px;
          height: 24px;
        }
      }
    }

    .thanks {
      background: #2E2C32;
      height: 160px;
      color: #fff;
      position: relative;

      .thanks-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

        div + div {
          margin-top: 10px;
        }
      }

      .copyright {
        font-size: 14px;
        position:absolute;
        bottom: 20px;
        left: calc(50% - 130px);
        color: #5A585E;
      }
    }
  }

  .interview {
    background: #FAF7FF;
    background-image: url("./assets/background/paper-texture.jpg");

    .title {
      height: 120px;
      font-size: 22px;
      text-align: center;
      font-family: 'RIDIBatang';
      font-weight: 500;

      display: flex;
      flex-direction: column;
      justify-content: center;

      .sub {
        font-size: 14px;
        margin-bottom: 5px;
      }
    }

    .interview-list {
      max-width: 550px;
      padding: 0 40px;
      border-top: 1px dashed #9D97A7;

      .interview-item {
        padding: 30px 0;
        box-sizing: border-box;


        .question {
          font-weight: 600;
          margin-bottom: 20px;

          &:before {
            content: 'Q.';
            margin-right: 5px;
          }
        }

        .answer {
          font-size: 14px;
        }
      }
    }

    .close-btn {
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
    }
  }

  .link-copy-modal {
    position: fixed;
    top: calc(50% - 60px);
    left: calc(50% - 120px);

    width: 240px;
    height: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background: #fff;
    font-size: 15px;
    border: 1px solid #eae4f6;

    button {
      margin-top: 15px;
      outline: none;
      border: none;
      border-radius: 5px;

      width: 80px;
      height: 28px;

      background: #a392b7;
      color: #fff;
      font-family: 'Pretendard Variable';
      cursor: pointer;
    }
  }

  .modal-wrapper {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    padding: 0 !important;

    .modal-background {
      background: rgba(0,0,0,0.7);
      height: 100%;
      width: 100%;
  
      .rsvp-modal {
        width: 260px;
        height: 440px;
        position: absolute;
        top: calc(50% - 220px);
        left: calc(50% - 130px);
        box-sizing: border-box;
        background: #fff;
        border-radius: 10px;
        padding: 20px;

        @media screen and (min-width: 320px){
          width: 320px;
          height: 330px;
          top: calc(50% - 160px);
          left: calc(50% - 160px);
        }

        @media  screen and (min-width: 1024px) {
          width: 400px;
          height: 500px;
          top: calc(50% - 250px);
          left: calc(50% - 200px);
        }

       
        &.delete {
          height: 180px;
        }
   
        .title-wrapper {
          height: 45px;
          display: flex;
          justify-content: space-between;

          > button {
            height: 16px;
            background: transparent;
            outline: none;
            border: none;
          }

          img {
            height: 16px;
            cursor: pointer;
          }
        }

        .form-wrapper {
          font-size: 15px;

          .form-item {
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            .form-label {
              width: 80px;
              margin-bottom: 5px;
            }

            .form-content {
              width: 100%;

              input, textarea {
                width: 100%;
                border: none;
                border-radius: 5px;
                background: #f1f1f1;
                outline: none;
                box-sizing: border-box;
                font-family: 'Pretendard Variable';
              }

              input {
                height: 30px;
                padding: 0 10px;
              }

              textarea {
                resize: none;
                padding: 5px 10px;
              }

              button {
                height: 30px;
                outline: none;
                border: none;
                border-radius: 5px;
                font-family: 'Pretendard Variable';
                cursor: pointer;

                &.dining {
                  width: calc(100% / 3 - 5px);
                }

                &.active {
                  background: #c6afd6;
                  color: #fff;
                }
              }

              button + button {
                margin-left: 5px;
              }
            }

            @media screen and (min-width: 320px) {
              flex-direction: row;
              align-items: center;

              .form-label {
                margin: 0;
              }

              .form-content {
                width: calc(100% - 80px);
              }
            }
          }

          .form-item + .form-item {
            margin-top: 12px;
          }
        }

        > button {
          position:absolute;
          bottom: 20px;
          left: calc(50% - 70px);
          height: 30px;
          width: 140px;
          border: none;
          outline: none;
          border-radius: 5px;
          background: #907D9E;
          color: #fff;
          font-family: 'Pretendard Variable';
          cursor: pointer;

        }
      }
      
      .image-modal {
        .close-btn {
          position: absolute;
          right: 20px;
          top: 20px;
          z-index: 5;
          cursor: pointer;
        }

        .index-wrapper {
          position: absolute;
          bottom: 30px;
          left: calc(50% - 50px);
          z-index: 5;

          width: 100px;
          height: 35px;

          display: flex;
          align-items: center;
          justify-content: center;

          background: rgba(255,255,255,0.6);
          border-radius: 15px;

          span {
            margin: 0 8px;

            &:first-child {
              color: #766097;
              font-weight: bolder;
            }
          }
        }

        .image-slider {
          width: 100%;
          height: auto;
          position: absolute;

          .slick-slider {
            width: 100%;
            overflow: hidden;
  
            .slick-track {
              display: flex;

              .slick-slide {
                >div {
                  width: 100%;
                  height: 100vh;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  img {
                    width: auto !important;
                    max-width: 100%;
                    max-height: 100%;
                    vertical-align: middle;
                    display: inline-block;
                    height: auto;
                  }
                }
              }
            }
          }
        }

      }
    }

  }
 }
